.meals-list {
    background-color: white;
    width: 65%;
    list-style: none;
    margin: auto;
    border-radius: 15px;
    padding: 1.5%;
}

.meal {
    animation: meals-appear 1s ease-out forwards;
}

@keyframes meals-appear {
    from {
        opacity: 0.5;
        transform: translateY(5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}