.display {
    width: 40%;
    background-color: #3f3f3f;
    position: relative;
    margin: auto;
    color: white;
    border-radius: 1.5rem;
    margin-top: -15%;
    margin-bottom: 3%;
    z-index: 9;
    box-shadow: 5px 10px 10px 6px #383838;
}

.display p,
.display h1 {
    padding: 0.5rem 1.5rem;
}